<!-- Modal structure -->
<div id="uploadTransactionReceiptModal" tabindex="-1" class="hidden fixed inset-0 z-50 items-center justify-center bg-gray-900 bg-opacity-50 backdrop-blur-sm">
	<div
		class="relative p-4 w-full max-w-md">
		<!-- Modal content -->
		<div
			class="relative bg-white rounded-lg shadow dark:bg-gray-700">
			<!-- Modal header -->
			<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
				<h3 class="text-lg font-semibold text-gray-900 dark:text-white">
					Upload Transaction Receipt
				</h3>
				<!-- Custom close button -->
				<button type="button" class="closeUploadTransactionReceiptModal text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
					<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7L1 13M7 7l6-6"/>
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
			</div>
			<!-- Modal body -->
			<div class="p-4 md:p-5">
				<div class="grid gap-4 mb-4 grid-cols-2">
					<div class="col-span-2">
						<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="receipt_file">Upload Receipt</label>
						<input name="receipt" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="receipt_file" type="file">
						<p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPEG, JPG or PDF (MAX. 5MB).</p>

					</div>
				</div>
				<button type="button" class="upload-receipt-btn text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
					<svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
					</svg>
					Upload Receipt
				</button>
			</div>
		</div>
	</div>
</div>
