{% extends "components/layout.twig" %}

{% block content %}
	{# Page Content Wrapper #}
	<div class="w-full h-full flex flex-col justify-center items-center">
		<div class="space-y-6 flex flex-col justify-center items-center">
			<h1 class="text-green-500 text-8xl">PHPCore</h1>
			<p class="text-3xl">A lightweight PHP framework to create a full-stack web applications.</p>
		</div>
		<div class="flex justify-center gap-x-16 mt-6">
			<div>
				<h3 class="text-green-500 text-4xl mb-5">Back-End</h3>
				<ul class="list-disc text-2xl">
					<li>
						<a href="https://www.php.net" target="_blank">PHP</a>
					</li>
					<li>
						<a href="https://www.slimframework.com" target="_blank">SlimPHP</a>
					</li>
					<li>
						<a href="https://www.php-di.org" target="_blank">PHP-DI Container</a>
					</li>
					<li>
						<a href="https://www.mysql.com/">MySQL</a>
					</li>
					<li>
						<a href="https://www.doctrine-project.org" target="_blank">Doctrine ORM and Migrations</a>
					</li>
					<li>
						<a href="https://symfony.com/doc/current/index.html" target="_blank">Symfony Components like Console, Mailer and so on.</a>
					</li>
				</ul>
			</div>
			<div>
				<h3 class="text-green-500 text-4xl mb-5">Front-End</h3>
				<ul class="list-disc text-2xl">
					<li>
						<a href="https://www.slimframework.com/docs/v4/features/twig-view.html" target="_blank">Twig-View Templates</a>
					</li>
					<li>
						<a href="https://www.tailwindcss.com" target="_blank">TailwindCSS</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
